.block-views {
	&--padding-block {
		padding-block: 1.875rem 5.625rem;
		@media (max-width: 767.98px) and (min-width: 479.98px) {
			padding-block: 1.875rem 2.5rem; /* 40/16 */
		}
		@media (max-width: 479.98px) {
			padding-block: 1.875rem; /* 30/16 */
		}
	}
	// .block-views__container

	&__container {
	}

	// .block-views__row

	&__row {
	}

	// .block-views__col

	&__col {
	}

	// .block-views__title

	&__title {
		font-size: 1.375rem;
		line-height: 1.2;
		color: var(--color-black-80);
		border-block-end: 0.0625rem solid var(--color-grey-80);
		margin-block-end: 0.75rem; /* 12/16 */
	}

	// .block-views__link

	&__link {
		margin-block-end: 0.75rem; /* 12/16 */
		a {
			text-decoration: underline;
			text-decoration-color: var(--color-green-60);
			text-underline-offset: 0.125rem;
			line-height: 1.5;
			transition: color 0.3s;
			@media (any-hover: hover) {
				&:hover {
					color: var(--color-green-60);
				}
			}
		}
	}

	// .block-views__content

	&__content {
		font-size: 1.125rem; /* 18/16 */
		line-height: 1.5;
		&:not(:last-child) {
			margin-block-end: 1.5rem; /* 24/16 */
		}
	}

	// .block-views__text

	&__text {
		p:not(:last-child) {
			margin-block-end: 0.5rem; /* 8/16 */
		}
		p:last-child {
			margin-block-end: 0;
		}
		a {
			display: inline;
			transition: color 0.3s;
			&:hover {
				color: var(--color-green-60);
				text-decoration: underline;
				text-underline-offset: 0.125rem;
			}
		}
	}

	// .block-views__time

	&__time {
		font-weight: 300;
	}
}
