.block-posts {
	&--padding-block {
		padding-block: 1.875rem 3.75rem; /* 60/16 */
	}
	// .block-posts__container

	&__container {
	}

	// .block-posts__list

	&__list {
		display: grid;
		column-gap: 24px; /* 24/16 */
		row-gap: 2.5rem; /* 40/16 */
		@media (min-width: 991.98px) {
			grid-template-columns: repeat(3, 1fr);
		}
		@media (max-width: 991.98px) and (min-width: 767.98px) {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	// .block-posts__image

	&__image {
		margin-block-end: 0.5rem; /* 8/16 */
		a {
			inline-size: 100%;
			block-size: 100%;
			object-fit: contain;
		}
	}

	// .block-posts__title

	&__title {
		margin-block-end: 0.75rem; /* 12/16 */
		a {
			display: inline;
			font-size: 1.125rem; /* 18/16 */
			line-height: 1.5;
			text-decoration: underline;
			color: var(--color-grey-80);
			text-decoration-color: var(--color-green-60);
			text-underline-offset: 0.125rem;
			@media (any-hover: hover) {
				transition: color 0.3s;
				&:hover {
					color: var(--color-green-60);
				}
			}
		}
	}

	// .block-posts__time

	&__time {
		font-weight: 300;
		font-size: 1.125rem; /* 18/16 */
		line-height: 1.5;
		margin-block-end: 2rem; /* 32/16 */
	}

	// .block-posts__text

	&__text {
		font-weight: 300;
		font-size: 1.25rem; /* 20/16 */
		line-height: 1.33;
		color: var(--color-black-80);
		p:not(:last-child) {
			margin-block-end: 0.5rem; /* 8/16 */
		}
		p:last-child {
			margin-block-end: 0;
		}
	}
}
