.discover {
	&--padding-block {
		padding-block: 3.75rem 5rem; /* 80/16 */
	}
	// .discover__container

	&__container {
	}

	// .discover__body

	&__body {
		display: flex;
		flex-direction: column;
		row-gap: 2.5rem; /* 40/16 */
		&--margin-bottom {
			margin-block-end: 3.75rem; /* 60/16 */
		}
	}

	// .discover__row

	&__row {
		display: grid;
		gap: 1.5rem; /* 24/16 */
		@media (min-width: 767.98px) {
			&:nth-child(2n + 1) {
				grid-template-columns: minmax(20.625rem, 1fr) 2fr;
				.discover__links {
					margin-inline-start: auto;
				}
			}
			&:nth-child(2n) {
				grid-template-columns: 2fr minmax(20.625rem, 1fr);
				.discover__image {
					order: 2;
				}
			}
		}
	}

	// .discover__image

	&__image {
		aspect-ratio: 360 / 222;
	}

	// .discover__content

	&__content {
		display: flex;
		flex-direction: column;
		h3 {
			font-size: 1.375rem; /* 22/16 */
			line-height: 1.2;
			color: var(--color-black-80);
			margin-block-end: 0.625rem; /* 10/16 */
		}
	}

	// .discover__text

	&__text {
		font-weight: 300;
		font-size: 1.25rem; /* 20/16 */
		line-height: 1.33;
		color: var(--color-black-80);
		margin-block-end: 2.5rem; /* 40/16 */
		p:not(:last-child) {
			margin-block-end: 0.5rem; /* 8/16 */
		}
		p:last-child {
			margin-block-end: 0;
		}
	}

	// .discover__links

	&__links {
		@media (max-width: 767.98px) {
			margin-inline-start: auto;
		}
	}

	// .discover__link

	&__link {
	}

	// .discover__info-line

	&__info-line {
		.info-line__text {
			color: var(--color-black-80);
			font-weight: 300;
			font-size: 1.2657rem;
		}
	}
}
