.membership {
	&--padding-block {
		padding-block: 6.25rem 3.75rem;
		@media (max-width: 767.98px) and (min-width: 479.98px) {
			padding-block: 2.5rem; /* 40/16 */
		}
		@media (max-width: 479.98px) {
			padding-block: 1.875rem; /* 30/16 */
		}
	}

	// .membership__container

	&__container {
		.cards-membership:nth-of-type(1) .cards-membership__item:first-child .cards-membership__inner {
			background: linear-gradient(rgba(73, 146, 196, 0) 0%, rgb(32, 61, 104) 100%) rgb(73, 146, 196);
		}
		.cards-membership:nth-of-type(1) .cards-membership__item:last-child .cards-membership__inner {
			background: linear-gradient(rgb(38, 152, 155) 0%, rgb(33, 75, 112) 75%, rgb(32, 61, 104) 100%);
		}
		.cards-membership:nth-of-type(2) .cards-membership__item:first-child .cards-membership__inner {
			background: var(--color-green-50);
		}
		.cards-membership:nth-of-type(2) .cards-membership__item:last-child .cards-membership__inner {
			background: var(--color-blue-60);
		}
		@media (min-width: 767.98px) {
			.cards-membership:nth-of-type(1) .cards-membership__inner {
				margin-block-end: 1.5rem; /* 24/16 */
			}
		}
		@media (max-width: 767.98px) {
			.cards-membership:nth-of-type(1) {
				margin-block-end: 1.5rem; /* 24/16 */
			}
		}
	}

	// .membership__title

	&__title {
		margin-block-end: 6.25rem; /* 100/16 */
		text-align: center;
		font-size: 28px;
		line-height: 1.2;
		text-transform: uppercase;
	}

	&__body {
		margin-block-end: 2.5rem; /* 40/16 */
	}
}
.cards-membership {
	row-gap: 1.5rem; /* 24/16 */
	color: var(--color-white);

	// .cards-membership__item

	&__item {
	}

	&__inner {
		border-radius: 0 1.25rem;
		padding-inline: 1.125rem;
		padding-block: 1.125rem 3.625rem;
		h3 {
			font-size: 1.40625rem; /* 22.5/16 */
			line-height: 1.2;
			letter-spacing: 0.05em;
			text-transform: uppercase;
			text-align: center;
			margin-block-end: 0.625rem; /* 10/16 */
		}
	}

	// .cards-membership__text

	&__text {
		font-weight: 300;
		font-size: 1.265625rem; /* 20.25/16 */
		line-height: 1.333;
		flex-grow: 1;
		margin-block-end: 0.75rem; /* 12/16 */
		@media (max-width: 767.98px) {
			br {
				display: none;
			}
		}
		p:not(:last-child) {
			margin-block-end: 0.5rem; /* 8/16 */
		}
		p:last-child {
			margin-block-end: 0;
		}
	}

	// .cards-membership__links

	&__links {
		margin-inline-start: auto;
		@media (max-width: 767.98px) {
			margin-inline: auto;
		}
	}
}
