:root {
	/* fonts */
	--font-family-primary: "Montserrat", sans-serif;

	/* colors */
	--color-white: #ffffff;
	--color-white-04: #fffffff5;
	--color-white-05: #f8f9fa;
	--color-black: #000000;
	--color-black-80: #202020;
	--color-grey-80: #333333;
	--color-grey-70: #444444;
	--color-grey-60: #727272;
	--color-grey-50: #6c6c85;
	--color-grey-20: #b6c4d266;
	--color-grey-10: #f1f1f1;
	--color-blue-80: #203d68;
	--color-blue-70: #307bc5;
	--color-blue-60: #4992c4;
	--color-blue-20: #c2d5f7;
	--color-green-50: #26989b;
	--color-green-60: #26787b;
	--color-pink-20: #f9c5e5;

	--font-small: 14px;

	--max-size: 90rem; /* 1440/16 */
}
