.row-four {
	display: grid;
	gap: 1.5rem; /* 24/16 */
	text-align: center;
	h2 {
		font-size: 1.40625rem; /* 22.5/16 */
		margin-block-end: 0;
		text-transform: none;
	}
	@media (min-width: 767.98px) {
		grid-template-columns: repeat(4, 1fr);
	}
	&--margin-bottom {
		margin-block-end: 3.75rem; /* 60/16 */
		@media (max-width: 767.98px) {
			margin-block-end: 2.5rem; /* 40/16 */
		}
	}
	&__image {
		max-inline-size: 8rem;
		aspect-ratio: 1;
		margin-block-end: 0.5rem; /* 8/16 */
		margin-inline: auto;
		a {
			inline-size: 100%;
			block-size: 100%;
			object-fit: contain;
		}
	}
	h3 {
		a {
			font-weight: 400;
			font-size: 1.375rem;
			line-height: 1.2;
			text-align: center;
			color: var(--color-black-80);
			@media (any-hover: hover) {
				transition: color 0.3s;
				&:hover {
					text-decoration: underline;
					text-underline-offset: 0.125rem;
					color: var(--color-green-60);
					text-decoration-color: var(--color-green-60);
				}
			}
		}
	}
}
