.breadcrumbs {
	ol {
		display: flex;
		gap: 0.5rem; /* 8/16 */
		line-height: 1.69;
		a {
			text-decoration: underline;
			text-decoration-color: var(--color-green-60);
			text-underline-offset: 0.125rem;
			&:visited {
				color: var(--color-blue-70);
				text-decoration-color: var(--color-blue-70);
			}
		}
		color: var(--color-grey-60);
		li:not(:first-child) {
			&::before {
				content: "/";
				padding-inline-end: 0.5rem; /* 8/16 */
			}
		}
	}
}
.blog-hero {
	padding-block: 2.5rem 5rem; /* 80/16 */
	// .blog-hero__container

	&__container {
	}

	// .blog-hero__title

	&__title {
		font-family: var(--font-family);
		font-weight: 500;
		font-size: 2.25rem; /* 36/16 */
		line-height: 1.15;
		text-transform: uppercase;
		margin-block-end: 2rem; /* 32/16 */
	}

	// .blog-hero__list

	&__list {
		display: flex;
		flex-direction: column;
		row-gap: 2.5rem; /* 40/16 */
		@media (min-width: 767.98px) {
			&--bigger-gap {
				row-gap: 3.75rem; /* 60/16 */
			}
		}
	}

	&__subtitle {
		font-size: 1.125rem; /* 18/16 */
		line-height: 1.5;
		color: var(--color-grey-80);
		margin-block-end: 0.375rem; /* 6/16 */
		a {
			text-decoration: underline;
			color: var(--color-grey-80);
			text-decoration-color: var(--color-green-60);
			font-weight: 400;
			text-underline-offset: 0.125rem;
			@media (any-hover: hover) {
				transition: color 0.3s;
				&:hover {
					color: var(--color-green-60);
				}
			}
		}
	}

	// .blog-hero__time

	&__time {
		font-weight: 300;
		font-size: 0.9375rem; /* 15/16 */
		line-height: 1.71;
		color: var(--color-grey-60);
		margin-block-end: 0.75rem; /* 12/16 */
	}

	// .blog-hero__image

	&__image {
		max-inline-size: 30rem; /* 480/16 */
		aspect-ratio: 480 / 320;
		margin-block-end: 1.3125rem; /* 21/16 */
	}

	// .blog-hero__text

	&__text {
		font-weight: 300;
		font-size: 1.25rem; /* 20/16 */
		line-height: 1.6;
		color: var(--color-black-80);
		p:not(:last-child) {
			margin-block-end: 0.5rem; /* 8/16 */
		}
		p:last-child {
			margin-block-end: 0;
		}
		a {
			text-decoration: underline;
			color: var(--color-grey-80);
			text-decoration-color: var(--color-green-60);
			font-weight: 400;
			text-underline-offset: 0.125rem;
			@media (any-hover: hover) {
				transition: color 0.3s;
				&:hover {
					color: var(--color-green-60);
				}
			}
		}
	}
}
