.muscles-app {
	padding-block: 2rem;
	font-weight: 300;
	font-size: 1.25rem; /* 20/16 */
	line-height: 1.33;
	color: var(--color-black-80);
	strong {
		font-weight: 500;
	}
	p {
		margin-block-end: 1rem; /* 16/16 */
	}

	&__strong {
		a {
			display: inline;
			text-decoration: underline;
			text-underline-offset: 0.125rem;
			text-decoration-color: var(--color-green-60);
			@media (any-hover: hover) {
				transition: color 0.3s;
				&:hover {
					color: var(--color-green-60);
				}
			}
		}
	}
	// .muscles-app__container

	&__container {
		> .muscles-app__image {
			margin-block-end: 2.5rem; /* 40/16 */
		}
	}

	// .muscles-app__title

	&__title {
		font-weight: 500;
		font-size: 2.25rem; /* 36/16 */
		line-height: 1.15;
		text-transform: uppercase;
		color: var(--color-black-80);
		margin-block-end: 2.5rem; /* 40/16 */
	}

	h2 {
		font-size: 1.75rem; /* 28/16 */
		line-height: 1.2;
		text-transform: uppercase;
		color: var(--color-black-80);
		font-weight: 400;
		margin-block-end: 0.75rem; /* 12/16 */
	}
	h3 {
		font-size: 1.40625rem; /* 22.5/16 */
		font-weight: 400;
		line-height: 1.2;
		color: var(--color-black-80);
		margin-block-end: 0.5rem; /* 8/16 */
	}
	h3.muscles-app__subtitle {
		font-size: 1rem; /* 16/16 */
		font-weight: 500;
		line-height: 1.2;
		color: var(--color-black-80);
		margin-block-end: 0.5rem; /* 8/16 */
	}
	ul {
		margin-block-end: 1rem; /* 16/16 */
	}
	ul li {
		font-size: 1.125rem; /* 18/16 */
		line-height: 1.5;
		color: var(--color-grey-80);
		padding-inline-start: 1.40625rem; /* 22.5/16 */
		position: relative;
		&::before {
			content: "";
			position: absolute;
			inset-inline-start: 0.3125rem; /* 5/16 */
			inset-block-start: 0.5625rem; /* 9/16 */
			inline-size: 0.375rem; /* 6/16 */
			aspect-ratio: 1;
			background: var(--color-grey-80);
			border-radius: 50%;
		}
	}
	ol {
		counter-reset: getting-start-list;
		font-family: var(--font-family);
		font-weight: 300;
		font-size: 1.125rem; /* 18/16 */
		line-height: 1.5;
		margin-block-end: 1rem; /* 16/16 */
		li p:first-child {
			display: inline;
		}
		li {
			.muscles-app__image {
				padding-block: 2.5rem; /* 40/16 */
			}
		}
		li p {
			font-weight: 300;
			font-size: 1.25rem; /* 20/16 */
			line-height: 1.33;
			color: var(--color-black-80);
		}
	}
	ol li::before {
		counter-increment: getting-start-list;
		content: counter(getting-start-list) ".";
		padding-inline-end: 0.25rem; /* 4/16 */
	}

	&__url {
		display: inline;
		font-weight: 400;
		font-size: 1.25rem; /* 20/16 */
		line-height: 1.33;
		text-decoration: underline;
		color: var(--color-grey-80);
		text-decoration-color: var(--color-green-60);
		@media (any-hover: hover) {
			transition: color 0.3s;
			&:hover {
				color: var(--color-green-60);
			}
		}
	}

	// .muscles-app__image

	&__image {
	}

	// .muscles-app__links

	&__links {
		margin-block-end: 0.75rem; /* 12/16 */
	}

	// .muscles-app__link

	&__link {
	}

	// .muscles-app__video

	&__video {
		max-inline-size: 35rem; /* 560/16 */
		margin-block-end: 2.5rem; /* 40/16 */
		aspect-ratio: 560 / 315;
		iframe {
			inline-size: 100%;
			block-size: 100%;
			object-fit: contain;
		}
	}
}
