.pocketsuite {
	padding-block: 2rem;
	h1 {
		font-weight: 500;
		font-size: 2.25rem; /* 36/16 */
		line-height: 1.15;
		text-transform: uppercase;
		color: var(--color-black-80);
		margin-block-end: 2.5rem; /* 40/16 */
	}
	h2 {
		font-size: 1.75rem; /* 28/16 */
		line-height: 1.2;
		text-transform: uppercase;
		color: var(--color-black-80);
		font-weight: 400;
		margin-block-end: 0.75rem; /* 12/16 */
		a {
			text-decoration: none;
			@media (any-hover: hover) {
				transition: color 0.3s;
				&:hover {
					text-decoration: underline;
					color: var(--color-green-60);
				}
			}
		}
	}
	h3 {
		font-weight: 400;
		font-size: 1.40625rem; /* 22.5/16 */
		line-height: 1.2;
		color: var(--color-black-80);
	}
	strong {
		font-weight: 500;
	}
	p {
		font-weight: 300;
		font-size: 1.25rem; /* 20/16 */
		line-height: 1.33;
		color: var(--color-black-80);
	}
	ul {
		margin-block-end: 1rem; /* 16/16 */
		font-weight: 300;
	}
	ul li {
		font-size: 1.125rem; /* 18/16 */
		line-height: 1.5;
		color: var(--color-grey-80);
		padding-inline-start: 1.40625rem; /* 22.5/16 */
		position: relative;
		&::before {
			content: "";
			position: absolute;
			inset-inline-start: 0.3125rem; /* 5/16 */
			inset-block-start: 0.5625rem; /* 9/16 */
			inline-size: 0.375rem; /* 6/16 */
			aspect-ratio: 1;
			background: var(--color-grey-80);
			border-radius: 50%;
		}
	}
	&__float {
		float: right;
		max-inline-size: 20rem; /* 320/16 */
		@media (max-width: 767.98px) {
			max-inline-size: 30%;
		}
	}
	// .pocketsuite__container

	&__container {
	}

	// .pocketsuite__image

	&__image {
	}

	// .pocketsuite__image--hero

	&__image--hero {
		margin-block-end: 0.75rem; /* 12/16 */
	}

	// .pocketsuite__strong

	&__strong {
		strong {
			display: inline;
		}
		font-size: 1.25rem; /* 20/16 */
		line-height: 1.33;
		margin-block-end: 0.75rem; /* 12/16 */
	}

	p a,
	ul a {
		text-decoration: underline;
		text-underline-offset: 0.125rem;
		color: var(--color-grey-80);
		text-decoration-color: var(--color-green-60);
		font-weight: 400;
		@media (any-hover: hover) {
			transition: color 0.3s;
			&:hover {
				color: var(--color-green-60);
			}
		}
	}

	// .pocketsuite__video

	&__video {
		max-inline-size: 35rem; /* 560/16 */
		aspect-ratio: 560 / 315;
		margin-block-end: 1rem; /* 16/16 */
		iframe {
			inline-size: 100%;
			block-size: 100%;
			object-fit: contain;
		}
	}

	// .pocketsuite__links

	&__links {
		&--margin-bottom {
			margin-block-end: 2.5rem; /* 40/16 */
		}
	}

	// .pocketsuite__link

	&__link {
	}

	&__info-line {
		margin-block-end: 3rem; /* 48/16 */
		p {
			font-size: 1.4063rem;
			color: var(--color-blue-60);
			font-weight: 400;
		}
	}
}
