.podcast-hero {
	padding-block: 2rem; /* 32/16 */
	p {
		font-weight: 300;
		font-size: 1.25rem; /* 20/16 */
		line-height: 1.33;
		color: var(--color-black-80);
	}
	a {
		display: inline;
		text-decoration: underline;
		text-underline-offset: 0.125rem;
		color: var(--color-grey-80);
		text-decoration-color: var(--color-green-60);
		font-weight: 400;
		@media (any-hover: hover) {
			transition: color 0.3s;
			&:hover {
				color: var(--color-green-60);
			}
		}
	}
	h1 {
		font-weight: 500;
		font-size: 2.25rem; /* 36/16 */
		line-height: 1.15;
		text-transform: uppercase;
		color: var(--color-black-80);
		margin-block-end: 2.5rem; /* 40/16 */
	}
	h2 {
		font-family: var(--font-family);
		font-weight: 400;
		font-size: 1.375rem; /* 22/16 */
		line-height: 1.2;
		color: var(--color-black-80);
	}
	// .podcast-hero__logo-apps

	&__logo-apps {
		margin-block-end: 2.5rem; /* 40/16 */
	}
	&__image-hero {
		max-inline-size: 65.9375rem; /* 1055/16 */
		margin-block-end: 3.75rem; /* 60/16 */
		margin-inline: auto;
	}

	// .podcast-hero__author-block

	&__author-block {
	}

	// .podcast-hero__label

	&__label {
		font-weight: 700;
		font-size: 1.125rem; /* 18/16 */
		line-height: 1.5;
		color: var(--color-grey-80);
	}

	// .podcast-hero__urls

	&__urls {
	}

	// .podcast-hero__name

	&__name {
		font-size: 1.125rem; /* 18/16 */
		line-height: 1.5;
	}

	// .podcast-hero__url

	&__url {
		font-size: 1.125rem; /* 18/16 */
		line-height: 1.5;
	}

	// .podcast-hero__list

	&__list {
		margin-block-end: 1.125rem; /* 18/16 */
		li {
			font-size: 1.125rem; /* 18/16 */
			line-height: 1.5;
			color: var(--color-grey-80);
			padding-inline-start: 1.40625rem; /* 22.5/16 */
			position: relative;
			&::before {
				content: "";
				position: absolute;
				inset-inline-start: 0.3125rem; /* 5/16 */
				inset-block-start: 0.5625rem; /* 9/16 */
				inline-size: 0.375rem; /* 6/16 */
				aspect-ratio: 1;
				background: var(--color-grey-80);
				border-radius: 50%;
			}
		}
	}

	// .podcast-hero__contacts

	&__contacts {
		font-weight: 300;
		font-size: 1.25rem; /* 20/16 */
		line-height: 1.33;
		color: var(--color-black-80);
		margin-block-end: 0.75rem; /* 12/16 */
		word-break: break-all;
		li:not(:last-child) {
			margin-block-end: 0.75rem; /* 12/16 */
		}
	}

	// .podcast-hero__text

	&__text {
	}
}
.author-block {
	// .author-block__label

	&__label {
		font-weight: 700;
		font-size: 1.125rem; /* 18/16 */
		line-height: 1.5;
		color: var(--color-grey-80);
	}

	// .author-block__image

	&__image {
		max-inline-size: 12.5rem; /* 200/16 */
		aspect-ratio: 1;
		margin-block-end: 1.125rem; /* 18/16 */
		img {
			border-radius: 50%;
		}
	}
}
