.footer {
	background-color: var(--color-grey-10);
	padding-block: 1.875rem; /* 30/16 */

	// .footer__top

	&__top {
		color: var(--color-blue-80);
		max-inline-size: 66.25rem; /* 1060/16 */
		display: grid;
		gap: 1.875rem; /* 30/16 */
		grid-template-columns: repeat(auto-fit, minmax(min(12.5rem, 100%), 1fr));
		line-height: 1.5; /* 150% */
	}

	// .footer__column
	address.footer__column {
		color: var(--color-black-80);
		margin-block-end: 0;
		font-size: 1.25rem; /* 20/16 */
		font-weight: 300;
		a {
			word-break: break-all;
		}
		a {
			font-weight: 400;
			color: var(--color-grey-80);
		}
		@media (any-hover: hover) {
			a {
				transition: color 0.3s;
			}
			a:hover {
				text-decoration: none;
				color: var(--color-green-60);
			}
		}
	}
	&__column {
		display: flex;
		flex-direction: column;
		row-gap: 0.625rem; /* 10/16 */
		@media (any-hover: hover) {
			a {
				transition: color 0.3s;
			}
			a:hover {
				color: var(--color-green-60);
				text-decoration-color: var(--color-green-60);
				text-underline-offset: 0.125rem;
				text-decoration: underline;
			}
		}
	}

	// .footer__bottom

	&__bottom {
		font-size: 1.25rem; /* 20/16 */
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		gap: 1rem; /* 16/16 */
		padding-block-start: 1.875rem; /* 30/16 */
		border-block-start: 0.0625rem solid var(--footer-border);
		margin-block-start: 1.875rem; /* 30/16 */
	}

	// .footer__copyright

	&__copyright {
		font-family: var(--second-font-family);
		color: var(--posts-text);
		line-height: 1.5;
	}

	// .footer__icons

	&__icons {
		display: flex;
		gap: 1rem; /* 16/16 */
		flex-wrap: wrap;
		li {
			font-size: 1.5rem; /* 24/16 */
			a {
				inline-size: 100%;
				block-size: 100%;
				object-fit: contain;
				transition: color 0.3s;
				&:hover {
					color: var(--color-green-60);
				}
			}
		}
	}
}
