@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic&display=swap");

html {
	opacity: 0;
	transition: opacity 0.8s;
}

html.loaded {
	opacity: 1;
}

body {
	color: var(--color-grey-80);
	font-family: var(--font-family-primary);
	background-color: var(--color-white);
}
.wrapper {
	min-block-size: 100%;
	overflow: clip;
	display: flex;
	flex-direction: column;
}

main {
	flex-grow: 1;
}

[class*="__container"] {
	max-inline-size: var(--max-size); /* 1472/16 */
	margin-inline: auto;
	padding-inline: 1rem; /* 16/16 */
}
