@media (max-width: 1199.98px) {
	.menu-open body {
		overflow: hidden;
	}

	.icon-menu {
		display: flex;
		flex-basis: 2.5rem;
		inline-size: 2.5rem;
		flex-shrink: 0;
		flex-direction: column;
	}
	.icon-menu::before,
	.icon-menu::after {
		content: "";
		block-size: 0.25rem;
		inline-size: 100%;
		background-color: var(--color-grey-80);
		transition: transform 0.3s ease;
	}
	.icon-menu span {
		block-size: 0.25rem;
		inline-size: 100%;
		background-color: var(--color-grey-80);
		margin-block: 0.5rem;
		transition:
			inline-size 0.3s ease,
			margin-block 0.3s ease,
			block-size 0.3s ease;
		align-self: flex-end;
	}
	.menu-open .icon-menu span {
		inline-size: 0;
		margin-block: 0;
		block-size: 0;
	}
	.menu-open .icon-menu::before {
		transform: rotate(-45deg) translateY(0.1875rem);
	}
	.menu-open .icon-menu::after {
		transform: rotate(45deg) translateY(-0.1875rem);
	}

	.header__container {
		display: grid;
		grid-template-columns: 1fr auto;
	}

	.menu,
	.menu::after {
		position: fixed;
		inset-block-start: 0;
		inset-inline-start: -100%;
		inline-size: 100%;
		background-color: var(--color-white);
		transition: left 0.3s ease;
	}
	.menu {
		block-size: 100%;
		padding-block: 13.75rem 2.5rem;
		padding-inline: 0.9375rem; /* 15/16 */
		overflow-y: auto;
		@media (max-width: 549.98px) {
			padding-block: 16.875rem 2.5rem;
		}
	}
	.menu::after {
		content: "";
		block-size: 12.5rem; /* 200/16 */
		@media (max-width: 549.98px) {
			block-size: 15rem; /* 240/16 */
		}
	}
	.menu-open .menu,
	.menu-open .menu::after {
		inset-inline-start: 0;
	}
	.menu ul {
		flex-direction: column;
		align-items: flex-end;
		row-gap: 2rem;
	}
}
