@media (max-width: 1199.98px) {
	.icon-menu {
		display: flex;
		flex-basis: 2.5rem;
		inline-size: 2.5rem;
		flex-shrink: 0;
		flex-direction: column;
	}
	.icon-menu::before,
	.icon-menu::after {
		content: "";
		block-size: 0.25rem;
		inline-size: 100%;
		background-color: var(--color-grey-80);
		transition: transform 0.3s ease;
	}
	.icon-menu span {
		block-size: 0.25rem;
		inline-size: 100%;
		background-color: var(--color-grey-80);
		margin-block: 0.5rem;
		transition:
			inline-size 0.3s ease,
			margin-block 0.3s ease,
			block-size 0.3s ease;
		align-self: flex-end;
	}
	.menu-open .icon-menu span {
		inline-size: 0;
		margin-block: 0;
		block-size: 0;
	}
	.menu-open .icon-menu::before {
		transform: rotate(-45deg) translateY(0.1875rem);
	}
	.menu-open .icon-menu::after {
		transform: rotate(45deg) translateY(-0.1875rem);
	}

	.header__container {
		display: grid;
		grid-template-columns: 1fr auto;
	}

	.menu {
		z-index: 50;
		position: absolute;
		inset-block-start: 0;
		inset-inline-start: 1rem;
		inline-size: calc(100% - 2rem);
		padding: 1.4063rem;
		opacity: 0;
		visibility: hidden;
		background: var(--color-white-04);
		transition:
			opacity 0.3s ease,
			visibility 0.3s ease;
		@media (max-width: 479.98px) {
			padding: 0.9375rem; /* 15/16 */
		}
	}
	.menu-open .menu {
		opacity: 1;
		visibility: visible;
	}
	.menu ul {
		flex-direction: column;
		align-items: flex-end;
		row-gap: 2rem;
	}
}
