[class*="--cover"] img,
[class*="--cover"] video {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
[class*="--contain"] img,
[class*="--contain"] video {
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.title {
	color: var(--color-black-80);
}
.link {
	&--blue {
		line-height: 1.5;
		border-radius: 1.875rem;
		color: var(--color-white);
		background: var(--color-blue-60);
		border: 0.0625rem solid var(--color-blue-60);
		font-weight: 600;
		padding-block: 0.625rem; /* 10/16 */
		padding-inline: 1rem; /* 16/16 */
	}
	&--learn-more {
		line-height: 1.5;
		border-radius: 1.875rem;
		text-align: center;
		padding-inline: 1.125rem; /* 18/16 */
		padding-block: 0.5625rem; /* 9/16 */
		background: var(--color-white);
		color: var(--color-blue-60);
	}
	&--white {
		line-height: 1.5;
		border-radius: 1.875rem;
		text-align: center;
		background: var(--color-white);
		color: var(--color-blue-60);
		border: 0.125rem solid var(--color-blue-60);
		padding-inline: 1.25rem; /* 20/16 */
		padding-block: 0.4375rem; /* 7/16 */
	}
}
.info-line {
	max-inline-size: 58.75rem; /* 940/16 */
	margin-inline: auto;
	display: flex;
	@media (min-width: 767.98px) {
		column-gap: 4.375rem; /* 70/16 */
	}
	@media (max-width: 767.98px) {
		column-gap: 1.5rem; /* 24/16 */
	}
	// .info-line__image

	&__image {
		align-self: flex-start;
		flex-shrink: 0;
		aspect-ratio: 1;
		@media (min-width: 991.98px) {
			flex-basis: 6.25rem; /* 100/16 */
			inline-size: 6.25rem;
		}
		@media (min-width: 767.98px) and (max-width: 991.98px) {
			flex-basis: 5.3125rem; /* 85/16 */
			inline-size: 5.3125rem; /* 85/16 */
		}
		@media (max-width: 767.98px) {
			flex-basis: 3.5rem; /* 56/16 */
			inline-size: 3.5rem; /* 56/16 */
		}
	}

	// .info-line__text

	&__text {
		font-family: var(--font-family);
		font-size: 1.375rem;
		line-height: 1.2;
		color: var(--color-blue-60);
		strong {
			font-weight: 500;
		}
		p:not(:last-child) {
			margin-block-end: 0.5rem; /* 8/16 */
		}
		p:last-child {
			margin-block-end: 0;
		}
	}
}
.section-header {
	margin-block-end: 2.5rem; /* 40/16 */
	&--margin-bottom {
		margin-block-end: 5rem; /* 80/16 */
	}
	// .section-header__title

	&__title {
		font-size: 1.75rem; /* 28/16 */
		line-height: 1.2;
		text-transform: uppercase;
		text-align: center;
		margin-block-end: 0;
		&--more-info {
			margin-block-end: 2.5rem; /* 40/16 */
		}
	}
	&__more-info {
		font-weight: 300;
		font-size: 1.25rem; /* 20/16 */
		line-height: 1.33;
		color: var(--color-black-80);
		a {
			font-weight: 400;
			text-decoration: underline;
			color: var(--color-grey-80);
			text-decoration-color: var(--color-green-60);
			text-underline-offset: 0.125rem;
			@media (any-hover: hover) {
				transition: color 0.3s;
				&:hover {
					color: var(--color-green-60);
				}
			}
		}
	}
}

@media (any-hover: hover) {
	[class*="--hover"] {
		img {
			transition: filter 0.3s ease;
		}

		&:hover img {
			filter: var(--hover-image);
		}
		&:active img {
			filter: none;
		}
	}
	.link {
		&--blue {
			transition:
				border 0.3s,
				background 0.3s;
		}
		&--blue {
			&:hover {
				border: 0.0625rem solid var(--color-blue-80);
				background: var(--color-blue-80);
				text-decoration: underline;
				text-underline-offset: 0.125rem;
			}
		}
		&--learn-more {
			transition: color 0.3s;
		}
		&--learn-more {
			&:hover {
				color: var(--color-blue-80);
			}
		}
		&--white {
			transition:
				color 0.3s,
				border 0.3s;
		}
		&--white {
			&:hover {
				text-decoration: underline;
				text-underline-offset: 0.125rem;
				color: var(--color-blue-80);
				border: 0.125rem solid var(--color-blue-80);
			}
		}
	}
}
